---
import Layout from "../layouts/Layout.astro";
import EmailGenerator from "../components/EmailGenerator.astro";
import Content from "./markdown/whyUseTags.md";



// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout Title="Create a Tagged Email" Description="Create a tagged email address with the + symbol to test and filter your emails.">
  <main
    class="py-8 px-4 grid grid-cols-2 gap-4 container mx-auto"
  >
    <!-- Title section -->
    <div class="col-span-2">
      <div class="card md:p-8">
        <daiv class="card-body">
          <h1 class="text-center font-bold text-4xl md:text-6xl mb-2">Email Tag Generator</h1>
          <p class="text-center text-lg md:text-2xl max-w-[60ch] mx-auto font-light text-base-content/70">
            Unique email addresses that still appear in your inbox can be
            created by utilising tags, the '+' symbol, in your email address.
            Add your email address below and an optional identifier to get
            started, then click 'generate tagged email'
          </p>
          <p class="italic text-center text-sm max-w-[60ch] mx-auto mt-8 text-base-content/70">
            This webpage <strong>does not</strong> store any of your used email addresses,
            all data found on this screen stored in your browser's local storage
            which can be cleared using the tools below.
          </p>
          <a href="#why-use-tags" class="mx-auto"><button class="btn btn-ghost mt-4"
            >Why use a tagged email?</button
          ></a>
        </daiv>
      </div>
    </div>

    <EmailGenerator />

    <!-- Content section -->
    <div id="why-use-tags" class="col-span-2">
        <div class="max-w-[80ch] mx-auto my-8 p-8 md:p-16 prose prose-lg md:prose-xl">
          <Content />
        </div>
    </div>
  </main>

  <style>
    [x-cloak] {
      display: none !important;
    }
  </style>
</Layout>
